<%- include("partials/header"); -%>
<h1>Compose a new post</h1>

<!-- Display all post titles -->

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle">
    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<% posts.forEach(post => { %>
  <div>
    <h3><%= post.postTitle %></h3>
    <form action="/compose/delete/<%= post._id %>" method="post" style="display: inline;">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    <form action="/compose/<%= post._id %>/edit" method="get" style="display: inline;">
      <button class="btn btn-primary" type="submit">Edit</button>
    </form>
  </div>
  <br>
<% }); %>

<%- include("partials/footer"); -%>
